<h1> PAID </h1>

<div class="groups-index ">
  <% @groups.each do |group| %>
    <%= button_to("#{group.name}", group_path(group), method: :get, class: 'button secondary') %>
  <% end %>
</div>


<div class="add-new-button">
  <%= link_to "Add New Group", new_group_path, method: :get %>
</div>
