<h1> PAID </h1>
<h2><%= "#{@group.name}" %> </h2>
<%= "#{@group.description}" %>
<%= button_to "Update", edit_group_path(@group), method: :get, class: "button secondary" %>
<%= button_to "Delete", group_path(@group), method: :delete, class:"button alert" %>
