$powder: #bfd8d2;
$warm: #de744c;
$black: #000000;
$peach: #fedcd2;
$dark-green: #609e90;
$light-peach: #fdbeac;

@import 'https://fonts.googleapis.com/css?family=Space+Mono|Roboto+Slab';

.bill-show-table {
  display: block;
  font-family: 'Roboto Slab', serif;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}

.bill-show-titles {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 5%;
}

.split-bill {
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: center;
}

th {
  background-color: $peach;
  text-align: left;
}

table {
  border: 3px solid $dark-green;
  text-align: center;
}

td {
  background-color: $light-peach;
  border-top: 2px solid $dark-green;
  text-align: left;
}
