.group-name {
  text-align: center;
}

.button-group-show {
  float: left;
  margin: 10px;
  text-align: center;
}

.buttons-group-show {
  margin-left: 65%;
  text-align: center;
}

.groups-container {
  background-color: $white;
  border: 3px solid $peach;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px 20px;
}
