@import url(https://fonts.googleapis.com/css?family=Oswald);

h1 {
  background: #414149;
  color: #DD9E2C;
  font-family: "Oswald";
  text-align: center;
}

body {
  background: #414149;
  font-family: "Oswald";
}

.button {
  float: left;
  font-family: "Oswald";
  margin: 5px;
}
