.back-to-group {
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
}

.close-settlement-button {
  margin-top: 10px;
  text-align: center;
}

.settlement-index h3 {
  font-style: italic;
}
